<!DOCTYPE html>
<html>
<style>
	h1 {
		color: aqua;
	}
  p1 {
    color: lightblue;
  }
  p2 {
    color: red;
  }
	html {
		background: black no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Home Page</title>
</head>

<body>
	<h1>
		All the bot's commands:
	</h1>
  <p1>help      | Shows the help message.                 | Aliases: Help, h, H</p1>
  <li></li>
  <p1>online    | Prints: 'Good morning'. Test command    | Aliases: None</p1>
  <li></li>
  <p1>SiB       | Prints: 'Sire is bipolar'. Test command | Aliases: sib, SIB</p1>
  <li></li>
  <p1>credits   | Prints the credits for bot.             | Aliases: CREDITS, cr, CR</p1>
  <li></li>
  <p1>credits2  | Test command.                           | Aliases: CREDITS2, cr2, CR2</p1>
  <li></li>
  <p1>richard   | Prints: MY NAME IS NOT RICHARD.         | Aliases: None</p1>
  <li></li>
  <p1>ping      | Prints: 'Pong' Example cog command      | Aliases: None</p1>
  <li></li>
  <p1>ss        | Prints a invite to the bot test server  | Aliases: SS</p1>
  <li></li>
  <p2>Staff Commands</p2>
  <li></li>
  <p1>clear     | Allows the user to clear messages       | Aliases: c, C, cl, CL</p1>
  <li></li>
  <p1>kick      | Allows the user to kick other users.    | Aliases: k, K, KICK</p1>
  <li></li>
  <p1>ban       | Allows the user to ban other users.     | Aliases: b, B, BAN</p1>
  <li></li>
  <p1>unban     | Allows the user to unban other users.   | Aliases: ub, UB, UNBAN</p1>
  <li></li>
  <p2>Bot Developer Commands, DON'T USE IF YOU DON'T WORK ON THE BOT!</p2>
  <li></li>
  <p1>loadcog   | Loads the cog file inputted</p1>
  <li></li>
  <p1>unloadcog | Unloads the cog file inputted</p1>
  <li></li>
  <p1>reloadcog | Reloads the cog file inputted</p1>
</body>
</html>