 h1 {
  color: White;
}
p {
  color: aqua;
}

a {
  color: aqua;
}
a:visited {
  color: aqua;
}
a:hover, a:active, a:focus {
  color:aquamarine;
}
test {
  color: blue;
}

html { 
  background: black no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}